/* .task {
  background-color: rgb(255, 163, 102);
  margin-top: 2em;
  padding: 1em;
  border-radius: 4px;
  
  grid-template-columns: 30% 30% 30%;
} */

.task-detail {
  display: grid;
  grid-template-areas: 
  "about material log"
  ;
  grid-template-columns: 30% 30% 30%;
  grid-column-gap: 70px;

}
.first {
  grid-area: about;
  display: flex;
}

.last {
  grid-area: log;
}
.task-detail .btn {
  grid-area: log;
  width: 100%;
}

.task-summary {
  background-color: white;
  padding: 2em;
  
  
  
  border-radius: 4px;
  margin-top: 1em;
  flex: 1;
  
}

/* .task-sum {
  grid-area: "about";
} */
.task-about {
  background-color: white;
  padding: 2em;
 
  border-radius: 4px;
  margin-top: 1em;
  flex: 1
}

.material-list {
  background-color: white;
  padding: 2em;
 
  border-radius: 4px;
  margin-top: 1em;
  height: 100%;
  grid-area: material;

}

.log-listcolumn {
  grid-area: log;
}

/* .first-column {
  width: 30%;
} */